# Default ignored files
/workspace.xml

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.out
*.app
*.slo
*.lo
*.gch
*.pch
*.dylib
*.mod
*.lai
*.la
*.a
*.lib

# Compressed files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# IDE Folders
.idea/
build*/
xcodeenvvar.txt
cmake-build-debug/
.vs/
CMakeSettings.json